<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<div>
    <p>Please enter your name and pick the Sectors you are currently involved in.</p>
    <form action="/form" method="post">
        <label>Name: <span style="color: darkred">*</span>
            <input autocomplete="name" id="name" maxlength="100" name="name" required
                   th:value="${response.name}" type="text">
        </label>
        <label for="sectors">Sectors: <span style="color: darkred">*</span></label>
        <select aria-describedby="sectors-hint" id="sectors" multiple name="sectors" required size="5">
            <option
                    th:disabled="${!sector.isSelectable}"
                    th:each="sector : ${sectors}"
                    th:selected="${response.sectorIds.contains(sector.id)}"
                    th:text="${sector.label}"
                    th:value="${sector.id}"
            ></option>
        </select>
        <small id="sectors-hint">Categories with sub-sectors cannot be selected, choose a specific sub-sector
            instead.</small>

        <label class="terms" for="terms">
            <input id="terms" name="terms" required th:checked="${response.agreedToTerms == 1}" type="checkbox"
                   value="1">
            Agree to terms <span style="color: darkred">*</span>
        </label>

        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>
